*{
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
}
button, input, textarea{
    border-radius: 10px;
}
input{
    text-align: center;
}
button{
    background: #e7e7e7;
    border: solid 1px #e7e7e7;
    border: 'none';
    cursor: pointer;
    padding: 5px 20px;
}
button:hover{
    background: #fff;
    border: solid 1px #e7e7e7;
}
#addItem{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background: #e6e6e6;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#itemForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #0091ff95;
    padding: 40px;
    border-radius: 15px;
    width: 450px;
    box-shadow: 1px 5px 20px #00000055;
    border: solid 1px #fff;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
#itemForm > input, #itemForm > textarea, #itemForm > button{
    padding: 15px 0;
    width: 100%;
    text-align: center;
    background: #ffffff80;
}
#itemForm > textarea{
    resize: none;
}
#itemForm > button{
    border: none;
    background: #006fc45c;
}
#itemForm > button:hover{
    background: #006fc4a2;
}
.itemContainer, .userItemContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.itemContainer > div{
    display: flex;
    background: #fff;
    box-shadow: 0 1px 7px #00000050;
    padding: 20px;
    justify-content: space-between;
    border-radius: 10px;
}
.itemContainer > div > h3{
    width: 15%;
    text-align: center;
}
.itemContainer > div > p{
    width: 40%;
    padding: 0 20px;
    border-left: solid 1px #aaa;
    border-right: solid 1px #aaa;
    font-size: 20px;
    text-align: center;
}
.itemContainer > div > h4{
    width: 10%;
}
.userItemContainer{
    padding: 50px;
    gap: 2px;
    min-height: 100vh;
}
.userItemContainer > div{
    position: relative;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    clip-path: polygon(0% 0%, 100% 0%, 97% 50%, 100% 100%, 0% 100%);
}
.userItemContainer > div:nth-of-type(odd){
    transform: translateX(10px);
}
.userItemContainer > div:nth-of-type(even){
    transform: translateX(-10px);
}
.userItemContainer > div > h3{
    background: #efead7;
    padding: 20px;
    width: 20%;
    text-align: center;
}
.userItemContainer > div > p{
    width: 60%;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    color: #fff;
}
.userItemContainer > div > h2{
    padding: 20px;
    width: 17%;
    color: #fff;
}

.popup-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #ddd;
    padding: 50px;
    border-radius: 15px;
}
.popup-content, .popup-content > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.popup-content > form > input{
    border: solid 1px #ddd;
    padding: 5px;
}
.popup-content > form > button{
    background: #06f;
    color: white;
    border: none;
}
.popup-content > form > button:hover{
    filter: brightness(130%);
}